h1 {
    font-family: 'Lobster', cursive;
    color: blue;
    
}

.item {
   text-align: 200px;
   border-radius: 100%;
   height: 240px;
   width: 240px;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
}
.container:hover{
    filter: blur(5px);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: blur(5px);
    transition: background-size 0.3s ease; 
}

 body {
     text-align: center;
     background: grey;
 }

 ul {
    list-style-type: none;
}
li{
    margin: 2 rem;
    letter-spacing: 6px;
    text-decoration: none;
    padding: 6 rem;
}
    a{
    color: blue;
}
